{% extends 'base.html.twig' %}

{% block body %}
    <h1>PugCheck</h1>

    {% include 'partials/search-form.html.twig' %}

    <h3>{{ region|upper }}</h3>
    <p>{{ serverName }}: {{ data.name }}</p>

    {{ dump(data) }}

    {% include 'partials/footer.html.twig' %}
{% endblock %}